@{
    ViewData["Title"] = "Home Page";
}

<a class="btn btn-block btn-social btn-facebook" id="btn-facebook" app-id="@ViewBag.FacebookAppId">
    Login with facebook
</a>
<a class="btn btn-block btn-social btn-google" id="btn-google" app-id="@ViewBag.GoogleAppId">
    Login with google
</a>